<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Document Page</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)">
        <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ng-container *ngIf="document">
    <div class="document" [innerHtml]="document | keepHtml: 'html'"></div>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="presentBottomsheet()">
        <ion-icon name="arrow-up-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>